
@{
    ViewBag.Title = "PoliticasDePrivacidad";
}

<h2>Políticas De Privacidad</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 text-justify">

        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    La presente Política de Privacidad (en adelante la “Política de Privacidad”) se integra con los Términos y Condiciones y se aplicarán a los Usuarios del Sitio, estén o no debidamente registrados. Las definiciones utilizadas en los Términos y Condiciones subsistirán y serán aplicable en las presente Políticas de Privacidad.
                </li>
                <li>
                    Boy Gin Fortune (en adelante “La Empresa”) podrá modificar la Política de Privacidad en cualquier momento. Las nuevas versiones de la Política de Privacidad serán notificadas previamente a su entrada en vigencia.
                </li>

            </ol>

            <h3>1. Recolección de información de los usuarios</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    El Usuario reconoce y acepta que Boy Gin Fortune puede recolectar información al momento de registrarse en el Sitio, tales como su nombre, apellido, correo electrónico, entre otros. Los Datos serán almacenados en una base de datos de propiedad de la Empresa y será tratada en forma confidencial y con las debidas medidas de seguridad que se detallarán más adelante.
                </li>
                <li>
                    Boy Gin Fortune no almacenará ni recopilará la información y datos de los medios de pago de los Usuarios como ser los números de las tarjetas de crédito o cuentas bancarias, etc., no teniendo acceso a la misma o a dichos servidores en donde se encuentran almacenados. En tal sentido, la Empresa no se hace responsable de ningún daño o perjuicio que pueda ocurrir al momento de realizar pagos o transacciones a través de dichos proveedores.
            </ol>


            <h3> 2.	Finalidad de los datos</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los Datos suministrados por el Usuario y recolectados de conformidad con lo establecido en las presentes Políticas de Privacidad serán utilizados con la siguiente finalidad:
                    <ul>
                        <li>
                            Identificación del Usuario;
                        </li>
                        <li>
                            Facturación y cobro del servicio contratado;
                        </li>
                        <li>
                            Posibilidad de dar acceso al Servicio;
                        </li>
                        <li>
                            Poder contar con un teléfono o dirección de correo electrónico para contactarse con el Usuario con motivo de la utilización de los Servicios;
                        </li>
                    </ul>
                </li>
                <li>
                    La Empresa utilizará los Datos provistos por el Usuario, y la recolectada por la Empresa conforme a lo establecido en las Políticas de Privacidad, y no la divulgará salvo que sea solicitada por tribunales, u organismos estatales nacionales o internacionales que así lo requieran y lo soliciten en la forma correspondiente.
                </li>
            </ol>

            <h3> 3. Menores de edad </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los menores de 18 años no tienen permitido el ingreso al Sitio y/o los Servicios ni el suministro de ningún dato personal u otro tipo de información.
                </li>
            </ol>


            <h3> 4. Confidencialidad y seguridad de la información </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
        <p>
            La Empresa ha adoptado medidas de seguridad razonables para proteger la información de los Usuarios, e impedir el acceso no autorizado a sus datos o cualquier modificación, divulgación o destrucción no autorizada de los mismos. La información recolectada por la Empresa será mantenida de manera estrictamente confidencial.
        </p>
        <h3> 5. Cesion de los datos </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
        <p>
            La Empresa no venderá, alquilará ni compartirá los Datos de los Usuarios salvo aquellos casos expresamente previstos en las Políticas de Privacidad. No obstante ello, el Usuario presta su expresa conformidad para que la Empresa transfiera total o parcialmente los datos del Usuario a cualquiera de sus sociedades controladas, controlantes y/o vinculadas con la Empresa.
        </p>

        <h3> 6. Cookies </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    El Usuario reconoce y acepta que el Sitio podrá utilizar cookies para brindar a los Usuarios un servicio más completo, recordando sus preferencias. La información que recopile la Empresa podrá incluir el comportamiento de navegación, dirección IP, logs, y otros tipos de información. Sin embargo, la Empresa no recolectará información personal identificable de manera directa de ningún Usuario usando cookies o tags. Un cookie es un pequeño archivo de texto mediante el cual se puede identificar en forma exclusiva un navegador de internet, y que suele ser instalado, enviado o escrito en el ordenador de los Usuarios de internet, cuando los mismos ingresan a determinados sitios de internet, a efectos de obtener automáticamente información acerca de la conducta de los Usuarios cuando navegan por dichos sitios de internet. Un archivo cookie generalmente contendrá el nombre del dominio desde donde la cookie ha sido transferida, la fecha de creación, y un código de identificación. La única información personal que un cookie puede contener es información que el Usuario mismo suministra con su navegación por internet, tales como la dirección de IP, las páginas visitadas y en qué orden, el tiempo de permanencia en cada página, la fecha y la hora, etc. (la “Información de Actividad”). Un cookie no puede leer datos del disco duro del Usuario ni leer los archivos cookie creados por otros sitios de internet.
                </li>
                <li>
                    La mayoría de los navegadores están configurados para aceptar cookies, pero los Usuarios podrán reconfigurar su navegador de internet para rechazar todas las cookies o para que el sistema le indique en qué momento se envía una.
                </li>
                <li>
                    Los Usuarios podrán optar por que su navegador de internet no sea identificado por los Servicios. En tal caso, el Usuario deberá acudir a la sección de ayuda de su navegador.
                </li>
            </ol>

            <h3> 7. Derecho al acceso, cancelación y rectificación de los datos </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los usuarios tendrán derecho a hacer uso responsable de su cuenta en el sitio web. En cualquier momento, el Usuario podrá solicitar la baja como Usuario y la eliminación de su cuenta e información de la base de datos de la Empresa, como así también acceder y actualizar sus datos personales. Para aquellos Usuarios residentes en Argentina, el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326 de la República Argentina. La autoridad de aplicación (en Argentina, la Dirección Nacional de Protección de Datos Personales, Órgano de Control de la Ley Nº 25.326), tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las Normas sobre protección de datos personales.
                </li>
                <li>
                    A dichos efectos, el Usuario deberá enviar su Solicitud mediante el envío de un correo electrónico con el asunto “Acceso a Datos Personales” a boyginfortune@gmail.com. La Empresa podrá requerir a dicho Usuario que se identifique, lo que podrá ser verificado por la Empresa, así como que precise los datos personales a los cuales desean acceder, rectificar o remover.
                </li>
            </ol>
            <h3> 8. Contacto </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
        <p>
            En caso que el Usuario tenga alguna duda acerca de la Política de Privacidad, o sobre la aplicación de la misma, deberá ponerse en contacto con la Empresa, en cualquier momento, vía correo electrónico a boyginfortune@gmail.com
        </p>
    </div>
    <div class="col-xs-6 col-md-4">

    </div>
</div>

