
@{
    ViewBag.Title = "PreguntasFrecuentes";
}

<h2>Preguntas Frecuentes</h2>

<div class="container container-fluid">
    <div class="row">
        <div class="col-xs-3 col-md-2"></div>
        <div class="col-xs-12 col-sm-6 col-md-8 text-center text-justify">

            <div class="panel panel-body panel-default">
                <h4>
                    ¿Cómo compro en la tienda online?
                </h4>
                <ul>
                    <li>
                        Elegir productos: Navegar el sitio y clickear en “Carrito”, seleccionar los productos deseados indicando respecto de cada ítem la cantidad que se quiere comprar y hacer click en agregar. En todo momento, se pueden añadir o quitar ítems del carrito de compra mediante los botones “seguir comprando” y eliminar respectivamente
                    </li>
                    <li>
                        Finalizar compra:  Hacer click en “Finalizar Compra”. Elegir el método de pago deseado y luego si lo desea imprimir o guardar el recibo de pago.
                    </li>
                    <li>
                        Dirección de envío: será la indicada al registrarse como usuario.
                    </li>
                </ul>
            </div>
            <div class="panel panel-body panel-default">
                <h4>
                    ¿Es necesario registrarme para realizar una compra?
                </h4>
                <p>
                    Sí, para realizar una compra es necesario estar registrado.
                </p>
            </div>

            <div class="panel panel-body panel-default">
                <h4>
                    Compra Asistida
                </h4>
                <p>
                    Adicionalmente y siguiendo nuestra visión de brindar un servicio de valor agregado, entendemos que Ud. ha venido a visitarnos para encontrar una solución y un servicio exclusivo, junto con una experiencia de compra superior. Por eso estamos listos para ofrecerle lo que denominamos Compra Asistida. Durante la compra asistida, uno de nuestros encargados toma su pedido para que Ud. no tenga que completar formularios. La compra asistida puede ser vía correo electrónico o telefónica. Puede indicarnos que lo llamemos para una mejor atención.
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4>
                    ¿Puedo comprar por unidad?
                </h4>
                <p>
                    Es posible comprar por unidad y también podés consultar por compras por mayor a nuestro correo electrónico boyginfortune@gmail.com
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4> ¿Cuáles son las formas de pago disponibles?</h4>
                <p>
                    Puede elegir cualquiera de las formas de pago disponibles, con transferencia bancaria (o deposito en cajero o desde Home Banking), cupones de pago Rapipago, Pagofacil o con todas las tarjetas a través de Mercado Pago.
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4>¿Puedo comprar desde cualquier parte de argentina?</h4>
                <p>
                    Actualmente se realizan envíos en la provincia de Córdoba, puede consultar a nuestro correo electrónico boyginfortun@gmail.com para envíos a otras provincias
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4> ¿Cuáles son los costos y tiempos de los envíos?</h4>
                <p>
                    Todos los costos de envío de los pedidos realizados a través de nuestra tienda online son a cargo del consumidor, salvo que se indique lo contrario. Te recordamos que los tiempos de entrega de nuestros pedidos son de 5 días hábiles. El costo de envío se calcula combinando dos variables:
                    <ol>
                        <li>
                            Dirección de entrega del pedido.
                        </li>
                        <li>
                            Peso del pedido.
                        </li>
                    </ol>
                    Los plazos de entrega varían según la zona:
                    <ul>
                        <li>
                            Córdoba Capital, Departamento Colón y Departamento Totoral
                            <ul>
                                <li>
                                    Envío gratuito.
                                </li>
                                <li>
                                    Hasta 5 días (hábiles) de entrega.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Interior
                            <ul>
                                <li>
                                    Envío gratuito en compras superiores a $4500.
                                </li>
                                <li>
                                    Hasta 10 días (hábiles) de entrega.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4>¿Tienen descuentos o promociones?</h4>
                <p>
                    Realizamos descuentos especiales exclusivamente para nuestra Tienda. Los mismos suelen ser comunicados a través de nuestro sitio web.
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4> Tengo otras consultas, comentarios y/o reclamos, ¿con quién puedo contactarme?</h4>
                <p>
                    Para comunicarte con nosotros al correo electrónico boyginfortune@gmail.com o al teléfono (03525) 15448899 y responderemos a la brevedad.
                </p>
            </div>
            <div class="panel panel-body panel-default">
                <h4>¿Cuál es el plazo para realizar un cambio?</h4>
                <p>
                    Dado que los productos son alimenticios, no se realizan cambios. Si tuviste algún problema con tu producto, ya sea si llegó algo incorrecto o tu empaque llegó golpeado, contáctanos por teléfono o vía mail a boyginfortune@gmail.com
                </p>
            </div>
        </div>
        <div class="col-xs-3 col-md-2"></div>
    </div>
</div>

