
@{
    ViewBag.Title = "TerminosYcondiciones";
}

<h2>Terminos y condiciones</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 text-justify">

        <p class="table-bordered text-justify" style="font-size:medium">
            <p>
                
                    Los presentes términos y condiciones (en adelante los “Términos y Condiciones”) tienen carácter vinculante y obligatorio. Los mismos son aplicados a la utilización de los servicios (en adelante los “Servicios”) puestos a disposición por Yamila Rocío Morano con domicilio en Jesús María, Córdoba, Argentina (en adelante la “Empresa”), proporcionado a Boy Gin Fortune (en adelante el “usuario”). Al acceder y utilizar el Servicio, el usuario expresa su consentimiento, acuerdo y entendimiento de los Términos de Servicio y la Política de Privacidad. Si no está de acuerdo con los Términos de Servicio o la Política de Privacidad, no utilice el Servicio. Si utiliza el servicio está aceptando las modalidades operativas en vigencia descriptas más adelante, las declara conocer y aceptar, las que se habiliten en el futuro y en los términos y condiciones que a continuación se detallan:
    
            </p>
            <h3>1. Operaciones habilitadas. </h3>
        <p>Las operaciones habilitadas son aquellas que estarán disponibles para los clientes, quienes deberán cumplir los requisitos que se encuentren vigentes en su momento para operar el Servicio y operaciones habilitadas al Usuario con rol administrativo. Las mismas podrán ser ampliadas o restringidas por el proveedor, comunicándolo previamente con una antelación no menor a 60 días, y comprenden entre otras, sin que pueda entenderse taxativamente las que se indican a continuación:</p>
            <ol>
                <li>
                    Panel de Administración: el Usuario será el único habilitado para administrar sus productos, pudiendo cargar y modificar información como descripciones y precios de los mismos, a través de un panel de administración disponible a tales efectos. Algunas de las actividades son:
               
                    <ul>
                        <li>
                            Gestión de productos: Registrar productos, modificar y consultar información referido a los mismos.
                        </li>    
                        <li>
                            Gestión de ventas: Consultar reportes de ventas.
                        </li>
                        <li>
                            Gestión de clientes: Consultar los clientes registrados y emitir listados de clientes
                        </li>
                        <li>
                            Gestión de compras: Registrar los proveedores del usuario, modificarlos y consultar la información de los mismos, registrar las compras de la materia prima
                        </li>
                        <li>
                            Gestión de materia prima: Registrar las materias primas que se utilizan en los productos, modificarlas y emitir listado de materia prima en stock
                        </li>
                        <li>
                            Gestión de producción: Registrar y consultar la producción de los productos
                        </li>
                    </ul>
                </li>
               
                <li>
                    Sistema de “Carrito de Compras”: Permite que los visitantes que deseen adquirir productos puedan seleccionar aquellos de su interés (en adelante el “Carrito de Compras”), en donde se informará en forma detallada todos los pasos necesarios para formalizar la compra.
               
                </li>
                <li>
                    Aceptación de pagos: La Empresa otorga la posibilidad de que el Usuario y los clientes pueda aceptar el pago por la compra de productos a través de distintos medios de pago habilitados que se encuentren disponibles en el Sitio (en adelante los “Medios de Pago”). La Empresa no tiene ninguna intervención en el procesamiento de pagos, ni recibe ni tiene acceso a información o datos de titulares de tarjetas de crédito. En todas las transacciones que se gestionen y/o se realizan a través de servicios de terceros habilitados, la Empresa, en ningún caso es responsable por errores, daños, perjuicios, fraude, o robo de información que pueda ocurrir durante el proceso de pago.
                </li>
            </ol>
            <h3>2. Precio y pago del servicio</h3>
<p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    El precio por la utilización del Servicio seleccionado son aquellos precios vigentes y actualizados que serán informados en forma detallada previa a la contratación del Servicio. Los precios podrán ser modificados en cualquier momento y serán comunicados en forma previa a la entrada en vigencia.
                </li>
                <li>
                    La Empresa no se responsabiliza por ningún inconveniente, daño, perjuicio o pérdida de dinero que pueda ocurrir durante el proceso de pago, debiendo el Usuario reclamar directamente al proveedor del servicio de pago utilizado.
                </li>
                <li>
                    El Usuario deberá pagar el precio en los plazos y forma acordados.
                </li>
                <li>
                    La empresa podrá cobrar comisiones por el mantenimiento y/o uso de este Servicio o los que en el futuro implemente, entendiéndose facultado expresamente para efectuar los correspondientes débitos en mis cuentas, aún en descubierto, por lo que presto para ello mi expresa conformidad. En caso de cualquier modificación a la presente previsión, lo comunicará con al menos 60 días de antelación.
                </li>
               
            </ol>


            <h3> 3.	Obligaciones y deberes del usuario </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    El Usuario se compromete a utilizar los Servicios de conformidad a la ley aplicable, estos Términos y Condiciones, así como con la moral y buenas costumbres y el orden público. El Usuario se obliga a abstenerse de utilizar los Servicios con fines o efectos ilícitos, contrarios a lo establecido en estos Términos y Condiciones, lesivos de los derechos e intereses de la Empresa, otros Usuarios y/o terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar o deteriorar los Servicios, o impedir la normal utilización o disfrute de los Servicios por parte de la Empresa, los Proveedores, otros Usuarios y/o terceros.
                </li>
                <li>
                    Queda prohibido utilizar los Servicios directa o indirectamente, para violar cualquier ley aplicable, cualquiera fuese su naturaleza, ya sea provincial, estadual, nacional o internacional; o violatorio de cualquier ley aplicable, nacional o internacional, o de la moral, las buenas costumbres, o el orden público; transmitir, distribuir, o almacenar cualquier tipo de información, datos o materiales que violen leyes o regulaciones provinciales, estaduales, nacionales o internacionales; enviar o transmitir información cuyo contenido sea, directa o indirectamente, y sin que lo siguiente se considere una limitación, transgresor, profano, abusivo, difamatorio y/ o fraudulento, o que revele asuntos privados o personales que afecten a persona alguna, o de alguna forma violen los derechos de los demás; acceder los Servicios utilizando un nombre falso, erróneo o inexistente, ya sea como persona física o jurídica.
                </li>
                <li>
                    Queda prohibido reproducir, duplicar, copiar, vender, revender o explotar, total o parcialmente el Servicio y/o su contenido sin el consentimiento expreso y por escrito de la Empresa.
                </li>
            </ol>

            <h3> 4. Propiedad intelectual. 	</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            
        <p>
            El software en Argentina está protegido por la ley 11.723, que regula la propiedad intelectual y los derechos de autor de todos aquellos creadores de obras artísticas, literarias y científicas.
        </p>


        <h3> 5. Limitación de responsabilidad por los usuarios </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
        <p>
            La Empresa contrata su acceso a internet y el de sus servidores con un tercero, proveedor de dicho servicio. El Usuario acepta y reconoce que los Servicios pueden no siempre estar disponibles debido a dificultades técnicas o fallas de internet, del proveedor, o por cualquier otro motivo ajeno a la Empresa. En consecuencia, la Empresa no garantiza la disponibilidad y continuidad del funcionamiento de los Servicios; como tampoco garantiza la utilidad de los Servicios para la realización de ninguna actividad en particular, ni su infalibilidad y, en particular, aunque no de modo exclusivo, que el Usuario pueda efectivamente utilizar los Servicios, o la totalidad de los mismos, o acceder a la totalidad de las secciones del Sitio. La Empresa excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que sean originados en forma directa, indirecta o remota, por la interrupción, suspensión, finalización, falta de disponibilidad o de continuidad del funcionamiento de los Servicios, por la defraudación de la utilidad, ingresos, ganancias o beneficios que el Usuarios hubiere podido atribuir a la empresa, a la falibilidad de los Servicios, y en particular, aunque no de modo exclusivo, por las fallas en el acceso a los Servicios. En la medida máxima permitida por las leyes aplicables, la empresa no se responsabiliza por cualquier daño, perjuicio o pérdida en el o los equipos del Usuario y/o sus autorizados y/o terceros originados por fallas en el sistema, servidor o en internet.
        </p>
        <h3> 6. Vigencia.   </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                El Usuario podrá dejar sin efecto la relación que surja de la presente, en forma inmediata, sin otra responsabilidad que la derivada de los gastos originados hasta ese momento. La empresa podrá dejar sin efecto la relación que surja de la presente, con un preaviso mínimo de 60 días, sin otra responsabilidad.
            </ol>


        </p>

    </div>
    <div class="col-xs-6 col-md-4">

    </div>
</div>

