@{
    ViewBag.Title = "Términos y condiciones";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 text-justify">

        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los presentes términos y condiciones (en adelante los “Términos y Condiciones") tienen carácter vinculante y obligatorio. Los mismos son aplicables al acceso y uso de los servicios ofrecidos por Boy Gin Fortune
                </li>
                <li>
                    Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen que son incorporados al presente. En consecuencia, todas las visitas y cada uno de los contratos y transacciones que se realicen en este sitio, como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a la legislación aplicable en la República Argentina.
                </li>
                <li>
                    Los términos y condiciones contenidos en este instrumento se aplicarán y se entenderán como formando parte de cada uno de los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en este sitio web entre los usuarios de este sitio y Boy Gin Fortune.
                </li>
                <li>
                    En forma previa a cada contratación, el Usuario deberá leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales de Boy Gin Fortune
                </li>
            </ol>

            <h3>2. REGISTRACIÓN</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad o los menores de edad o Usuarios que hayan sido suspendidos o inhabilitados por Boy Gin Fortune.
                </li>
                <li>
                    Para utilizar los Servicios ofrecidos por Boy Gin Fortune, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.
                </li>
                <li>
                    El futuro Usuario deberá completar los datos solicitados con su información personal de manera exacta, precisa, verdadera y actualizada (“Datos del Usuario”). Boy Gin Fortune podrá utilizar diversos medios para identificar a sus Usuarios, pero Boy Gin Fortune NO se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.
                </li>
                <li>
                    Boy Gin Fortune podría enviar mails con promociones y/o beneficios a aquellas personas que se hayan registrado y/o hayan realizado algún pedido en la tienda, dándole la posibilidad a los mismos de dar de baja la suscripción al momento que lo deseen.
                </li>
                <li>
                    Boy Gin Fortune se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja la compra efectuada, sin que ello genere algún derecho a resarcimiento.
                </li>
                <li>
                    Boy Gin Fortune se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
                </li>
            </ol>


            <h3> 3.	MEDIOS DE PAGO </h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los productos y servicios ofrecidos en este sitio, salvo que se señale una forma diferente para casos particulares u ofertas de determinados bienes o servicios, deberán ser pagados por transferencia bancaria o vía MercadoPago.
                </li>
            </ol>

            <h3> 4.	DESPACHO DE LOS PRODUCTOS</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los productos adquiridos a través del sitio se sujetarán a las condiciones de despacho y entrega elegidas por el usuario y disponibles en el sitio. La información del lugar de envío es de exclusiva responsabilidad del usuario.
                </li>
                <li>
                    Boy Gin Fortune no se hará cargo del costo de los traslados posteriores a la primera devolución, ni de los costos de traslado generados por la imposibilidad de entrega de los productos por cuestiones de ausencia del cliente en el domicilio de entrega, no retiro de la sucursal en tiempo y forma, u otras cuestiones atribuíbles al cliente.
                </li>
            </ol>


            <h3> 5. PROPIEDAD INTELECTUAL</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Los contenidos de las pantallas relativas a los servicios de Boy Gin Fortune como así también la información, datos, textos gráficos, imágenes, fotografías, audio y video clips, logotipos, iconos, programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de Boy Gin Fortune y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de Boy Gin Fortune
                </li>
            </ol>
            <h3> 6. FACTURACIÓN</h3>
        <p class="table-bordered text-justify" style="font-size:medium">
            <ol>
                <li>
                    Al adquirir un producto, el usuario deberá pagar el precio publicado y en caso de corresponder los gastos de envío y entrega.
                </li>
                <li>
                     Boy Gin Fortune se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será publicado en el sitio.
                </li>
            </ol>


        </p>

    </div>
    <div class="col-xs-6 col-md-4">
       
    </div>
</div>

