@{
    ViewBag.Title = "Publicidad";
}

<head>
    <title>Boy Gin Fortune</title>
</head>

<body>
    <div class="container">
        <div class="header bg-info text-white  w-100 h-40 text-sm-right text-md-right text-lg-center text-xl-center">
            <h1 class="display-4">Destilados</h1>
            <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                la mejor calidad del pais
            </h3>
        </div>
        <div class="container-fluid" style="text-align: center;">
            <img src="https://toque.world/blog/wp-content/uploads/2016/09/shutterstock_138600914-624x416.jpg" alt="Producto">
            
        </div>

        <div class="container text-center">


            <div>
                <a href="/Producto/Listado" class="btn btn-danger"> Ir a Listado de Productos</a>
                
            </div>

        </div>
    </div>
</body>